* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 0 140px;
    background: var(--White, #F7F7F7);
}
body{
    background-color: var(--White, #F7F7F7);
}

.card-bg-img {
    margin: 0 140px;
    /* background: var(--White, #F7F7F7); */
}

/* body {
    margin: 0 140px;
    background: var(--White, #F7F7F7);

} */

/* nav bar related styles */

header {
    background-color: var(--White, #F7F7F7);
    ;
}

/* main {
    background-image: url(../B11-A2-Kids-School/assets/bg.png);
} */

.navbar {
    margin: 20px 0px;
    /* margin-bottom: 20px; */
    display: flex;
    justify-content: space-between;

}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar-heading {
    color: var(--Black, #111);
    font-family: Quicksand;
    font-size: 2rem;
    font-weight: 700;
    /* margin-left: -40px; */

}

header hr {
    border: 0.5px solid var(--Orange, #FEA301);
    display: none;
}

.navbar-container {
    display: flex;
    margin-left: 186px;
    margin-right: 186px;
    margin-top: 32px;
    gap: 32px;
}

.navbar-container {
    text-decoration: none;
    list-style: none;
}

.btn-primary {
    border-radius: 12px;
    background: var(--Orange, #FEA301);
    width: 197px;
    padding: 10px;
    margin-top: 25px;
    /* justify-content: center;
align-items: center; */
    gap: 10px;
    border: none;
    color: #FFF;
    font-family: Quicksand;
    font-size: 1.25rem;
    font-weight: 600;
}

.menu-cart {
    display: none;
}

.navbar .fa-solid {
    font-size: 25px;
}

.navbar-item-1 a {
    text-decoration: none;
}

.navbar-item-2 a {
    text-decoration: none;
}

.navbar-item-3 a {
    text-decoration: none;
}

.navbar-item-4 a {
    text-decoration: none;
}

.navbar-item-1 a {
    color: var(--Orange, #FEA301);
    font-family: Quicksand;
    font-size: 1.25rem;
    font-weight: 700;
    /* text-decoration: none; */

}

.navbar-item-2 a {
    color: var(--Sky-Blue, #01ACFD);
    font-family: Quicksand;
    font-size: 1.25rem;
    font-weight: 500;

}

.navbar-item-3 a {
    color: #05D4DF;
    font-family: Quicksand;
    font-size: 1.25rem;
    font-weight: 500;
}

.navbar-item-4 a {
    color: #5D58EF;
    font-family: Quicksand;
    font-size: 1.25rem;
    font-weight: 500;

}

/* navbar section responsive */

@media screen and (max-width:576px) {

    /* body {
        margin: 0px;
    } */
    header {
        margin: 0px;
    }

    .navbar-heading {
        display: none;
    }

    .navbar-container {
        display: none;

    }

    .btn-primary {
        display: none;
    }

    .navbar {
        justify-content: space-between;
        padding: 0px 30px;
    }

    .menu-cart {
        display: block;
        /* margin-top: ; */
        width: 30px;
        margin-top: 20px;
    }

    header hr {
        display: block;
    }

}

/* banner section */
.banner-container {
    display: flex;
    justify-content: space-between;
    gap: 50px;



}

.banner {
    margin-top: 180px;
}

.banner .empowering {
    color: var(--Orange, #FEA301);
    font-family: Quicksand;
    font-size: 3.5rem;
    font-weight: 700;

}

.banner .student {
    color: var(--Black, #111);
    font-family: Quicksand;
    font-size: 3.5rem;
    font-weight: 700;

}

.banner-img img {
    margin-top: 10px;
    object-fit: cover;
}

.banner .vission {
    color: var(--Sky-Blue, #01ACFD);
    font-family: Quicksand;
    font-size: 3.5rem;
    font-weight: 700;

}

.banner .banner-sub-title {
    color: var(--Black, #111);
    font-family: Quicksand;
    font-size: 1.25rem;
    font-weight: 400;
    padding: 24px 0;

}

.banner .btn-secondary {
    border-radius: 12px;
    border: none;
    background: var(--Black, #111);
    padding: 10px;
    /* justify-content: center;
align-items: center; */
    width: 155px;
    gap: 10px;
    color: #FFF;
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 700;

}

/* banner section responsive */

@media screen and (max-width:576px) {
    main {
        margin: 0px;
    }

    .banner-container {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0px;
        gap: 10px;
    }

    .banner {
        padding: 0 20px;

        margin-top: 50px;
        text-align: center;
    }

    .banner-sub-title br {
        display: none;
    }

}

/* card item styles */

.card-container {
    display: flex;
    justify-content: space-between;
}

/* .card-bg-img {
    background-image: url(../B11-A2-Kids-School/assets/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
} */

.card-bg-img h2 {
    color: #000;
    text-align: center;
    font-family: Quicksand;
    font-size: 3rem;
    font-weight: 700;
    margin: 80px 0;

}

.card-1 {
    border-radius: 18.864px;
    border: 0.943px solid #DEF5FF;
    background: linear-gradient(180deg, #DEF5FF 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;
    box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
    display: flex;
    width: 367.805px;
    /* height: 476.784px; */
    padding: 52.819px 40.668px 53.762px 40.878px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32.069px;
}

.card-1 h3 {
    color: #202020;
    text-align: center;
    font-family: Quicksand;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
}

.card-1 p {
    color: #808080;
    text-align: center;
    font-family: Raleway;
    font-size: 1rem;
    font-weight: 500;

}

.read-more-btn-1 {
    color: #64C8FF;
    text-align: center;
    font-family: Quicksand;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    background-color: white;

}

.card-2 {
    border-radius: 18.864px;
    border: 0.943px solid #FFF4DC;
    background: linear-gradient(180deg, #FFF4DC 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;
    box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
    display: flex;
    width: 367.805px;
    /* height: 481.5px; */
    padding: 52.819px 40.668px 53.762px 40.878px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32.069px;

}

.card-2 h3 {
    color: #202020;
    text-align: center;
    font-family: Quicksand;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;

}

.card-2 p {
    color: #808080;
    text-align: center;
    font-family: Raleway;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;

}

.read-more-btn-2 {
    color: #F0AA00;
    text-align: center;
    font-family: Quicksand;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    border: none;
    background-color: white;

}

.card-3 {
    border-radius: 18.864px;
    border: 0.943px solid #F2E8FF;
    background: linear-gradient(180deg, #EEE1FF 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;
    box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
    display: flex;
    width: 367.805px;
    height: 476.784px;
    padding: 52.819px 40.668px 53.762px 40.878px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32.069px;


}

.card-3 h3 {
    color: #202020;
    text-align: center;
    font-family: Quicksand;
    font-size: 1.5rem;
    font-weight: 700;

}

.card-3 p {
    color: #808080;
    text-align: center;
    font-family: Raleway;
    font-size: 1rem;
    font-weight: 500;

}

.read-more-btn-3 {
    color: #8700FF;
    text-align: center;
    font-family: Quicksand;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    background-color: white;

}

.arrow {
    display: flex;
    margin: 80px 0;
    justify-content: center;
    gap: 10px
}

.arrow .fa-solid {
    font-size: 20px;
    border-radius: 30px;
    background: var(--Orange, #FEA301);
    display: flex;
    width: 60px;
    height: 60px;
    padding: 17px 0px 19px 0px;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-align: center;
    font-family: "Font Awesome 5 Free";
    font-size: 1rem;
    font-weight: 900;


}

.background {
    background-image: url(../B11-A2-Kids-School/assets/bg.png);
    background-position: center;
    background-size: cover;
}

/* card section responsives */

@media screen and (max-width:576px) {
    .card-bg-img {
        margin: 0;
    }

    .card-container {
        flex-direction: column;
        padding: 0px 30px;
        gap: 20px;
    }

    .card-1 {
        width: 100%;

    }

    .card-1 p {
        padding: 0px 50px;
    }

    .card-2 {
        width: 100%;

    }

    .card-2 p {
        padding: 0px 50px;
    }

    .card-3 {
        width: 100%;

    }

    .card-3 p {
        padding: 0px 50px;
    }

    .arrow {
        display: none;
    }

}

/* our stories sections */
.stories-card-container {
    display: flex;
    justify-content: space-between;
    margin: 0 140px;


}

.stories-card-container-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;



}

.section-bg {
    background-image: url(../B11-A2-Kids-School/assets/bg.png), linear-gradient(0deg, rgba(254, 163, 1, 0.30) 0%, rgba(255, 255, 255, 0.30) 100%);

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.section-bg h2 {
    color: #000;
    text-align: center;
    font-family: Quicksand;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    margin: 80px 0;

}

.stories-card img {
    border-radius: 16px 16px 0px 0px;
    position: relative;
    width: 570px;


}

.stories-card {
    border-radius: 16px;
    background: #FFF;
    width: 570px;
    /* height: 630.518px; */

}

.stories-card h6 {
    border-radius: 47.934px;
    background: #3CD8E8;
    display: flex;

    padding: 14.38px 18.876px 15.339px 19.174px;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: Raleway;
    font-size: 1rem;
    font-weight: 500;
    text-transform: capitalize;
    margin-left: 30px;
    margin-top: -20px;
    position: absolute;

}

.stories-card h3 {
    color: #000;
    font-family: Quicksand;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 40px;
    padding-left: 35px;

}

.stories-card p {
    color: #666;
    font-family: Raleway;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    padding-left: 35px;
    /* letter-spacing: 1px; */

}

.stories-card-1 {
    border-radius: 16px;
    background: #FFF;
    width: 290.693px;
    gap: 19.174px;

}

.stories-card-1 img {
    position: relative;
    border-radius: 16px 16px 0px 0px;
}

.stories-card-1 h6 {
    border-radius: 47.934px;
    background: #95B226;
    color: #FFF;
    display: flex;
    width: 174.51px;
    height: 38.347px;
    padding: 9.587px 18.876px 10.545px 19.174px;
    justify-content: center;
    align-items: center;
    font-family: Raleway;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    text-transform: capitalize;
    position: absolute;
    margin-left: 25px;
    margin-top: -20px;
}

.stories-card-1 h3 {
    color: #000;
    font-family: Quicksand;
    font-size: 1rem;
    font-weight: 700;
    padding-top: 40px;
    padding-left: 34px;
    padding-bottom: 30px;
}

.section-btn {
    border-radius: 12px;
    background: var(--Black, #111);
    gap: 10px;
    padding: 10px;
    color: #FFF;
    font-family: Quicksand;
    font-size: 1.25rem;
    width: 150px;
    font-weight: 700;
}

.btn-container {
    text-align: center;
    margin: 80px 0;
}


/* our stories responsives */
@media screen and (max-width:576px) {
    main {
        margin: 0;
    }

    .stories-card {
        display: none;
    }

    .stories-card-container {
        flex-direction: column;
        margin: 0px;
        gap: 10px;
    }

    .stories-card-container-2 {
        padding: 0 10px;

    }

    .section-bg {}

    .stories-card-1 {
        width: 100%;
    }

    .stories-card-1 img {
        width: 100%;
    }
}



/* footer section styles */
body footer {}

footer {
    background: #01ACFD;
}

.footer-logo h6 {

    color: #FFF;
    font-family: Quicksand;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;

}

.footer-logo p {
    color: #FFF;
    font-family: Quicksand;
    font-size: 1.25rem;
    font-weight: 400;

}

.footer-logo {
    display: flex;
}

.footer-logo img {
    width: 82.902px;
    height: 81.652px;
}